* {
  font-family: "Newsreader", sans-serif;
  color: #403A36;
}

/*desktop*/
.modal1 {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .modal1 #primary {
    width: 100%;
  }
  .modal1 #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1 {
    flex-direction: column;
  }
  .modal1 #primary {
    width: 100%;
  }
  .modal1 #secondary {
    width: 50%;
  }
}
.modal1__labels {
  font-size: 1.5rem;
}
@media screen and (min-width: 321px) {
  .modal1__labels #primary {
    width: 100%;
  }
  .modal1__labels #secondary {
    width: 50%;
  }
}
.modal1__box--regular {
  border: 2px solid #EE6723;
  font-size: 1.2rem;
  height: 2rem;
  width: 76.736111%;
  /* 221px/288 */
  margin-bottom: 2rem;
}
@media screen and (min-width: 321px) {
  .modal1__box--regular #primary {
    width: 100%;
  }
  .modal1__box--regular #secondary {
    width: 50%;
  }
}
.modal1__box--message {
  font-size: 1.2rem;
  width: 76.736111%;
  /* 221px/288 */
  height: 200px;
  border: 2px solid #EE6723;
}
@media screen and (min-width: 321px) {
  .modal1__box--message {
    width: 100%;
  }
  .modal1__box--message #primary {
    width: 100%;
  }
  .modal1__box--message #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1__box--message {
    width: 90%;
  }
  .modal1__box--message #primary {
    width: 100%;
  }
  .modal1__box--message #secondary {
    width: 50%;
  }
}
.modal1__button {
  font-size: 1.5rem;
  margin-top: 2rem;
  height: 3rem;
  width: 76.736111%;
  /* 221px/288 */
  background-color: #EE6723;
  border: none;
  border-radius: 10px;
}
@media screen and (min-width: 321px) {
  .modal1__button {
    align-self: center;
  }
  .modal1__button #primary {
    width: 100%;
  }
  .modal1__button #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1__button {
    width: 25%;
  }
  .modal1__button #primary {
    width: 100%;
  }
  .modal1__button #secondary {
    width: 50%;
  }
}
.modal1__div--message {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .modal1__div--message {
    width: 50%;
    align-self: center;
  }
  .modal1__div--message #primary {
    width: 100%;
  }
  .modal1__div--message #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1__div--message {
    width: 100%;
  }
  .modal1__div--message #primary {
    width: 100%;
  }
  .modal1__div--message #secondary {
    width: 50%;
  }
}
.modal1__div--info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 321px) {
  .modal1__div--info {
    width: 50%;
  }
  .modal1__div--info #primary {
    width: 100%;
  }
  .modal1__div--info #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1__div--info {
    width: 100%;
  }
  .modal1__div--info #primary {
    width: 100%;
  }
  .modal1__div--info #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 321px) {
  .modal1__align {
    display: flex;
  }
  .modal1__align #primary {
    width: 100%;
  }
  .modal1__align #secondary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  .modal1__align {
    display: flex;
  }
  .modal1__align #primary {
    width: 100%;
  }
  .modal1__align #secondary {
    width: 50%;
  }
}/*# sourceMappingURL=ModalLivestock.css.map */