@use "../../partials/fonts";
@use "../../partials/media" as m;
@use "../../partials/colors" as c;
@use "../../partials/mixins";

.footer{
    
    background-color: c.$backgroudB;
    // opacity:65%;
    padding: 1.5rem;
    color: white;
    


    @include m.tablet{
    display: flex;
    justify-content: space-evenly;
    
    }


    &__name{
        font-size: 1.5rem;
        color: white;
    }

    &__address{
        font-size: 1rem;
        line-height: 0;
        // margin: 0;
        color: white;
    }

    &__email{
        font-size: 1rem;
        color: white;
    }

    &__text{
        font-size: 1rem;
        text-decoration: none;
        color: white;
        margin: .1rem;
    }

    &__link{
        text-decoration: none;
        
    }
}